{% extends 'base.html' %}
{% block title %}
    修改角色
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li>权限系统</li>
        <li class="active">修改角色</li>
    </ol>
{% endblock %}
{% block status %}
    修改角色
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-info">
            <form class="form-horizontal" action="/auth/cmdb/group_auth_edit/{{ group_obj.id }}/" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">角色名称</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="group_name" value="{{ group_obj.group_name }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">角色描述</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="explanation" value="{{ group_obj.explanation }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">是否启用</label>
                  <div class="col-sm-3">
                      <p><input type="radio" name="enable" value="1" checked>启用</p>
                      <p><input type="radio" name="enable" value="0">禁用</p>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer" style="margin-right: 100px">
                <button type="submit" class="btn btn-info pull-right">保存</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
    </div>
</div>
{% endblock %}